<h1 class="text-center">About</h1>

<p class="text-center">Meal me is a community based app that helps you meet your nutritional goals! Choosing what to eat sucks, remove decision fatigue and USE OUR APP. Eat food. Eat good.</p>

<!-- <script src="https://platform.fatsecret.com/js?key=7d86e1d032a44723966593a1fd77c6f8&auto_load=true"></script> -->