<h1 class="text-center">About</h1>

<p class="text-center">Meal me is a community based app that helps you meet your nutritional goals! Choosing what to eat sucks, remove decision fatigue and USE OUR APP. Eat food. Eat good.</p>