<h1>Filtered meals:</h1>
<div class ="container-fluid">
    <div class ="row">

<% meals.forEach( (meal, index) =>{ %>
          <div class ="col-md-4 col-sm-4">
            <h1>
                <a href="/meals/<%= meal.id %>">
                    <%= meal.name %>
                </a>
            </h1>
            <form action='/meals/<%= meal.id %>?_method=DELETE' method="POST">
                <input type="submit" value="DELETE" />
            </form>
            <a href="/meals/<%= meal.id %>/edit">Edit Me</a>
          </div>
   
    <%  }) %>

</div>
</div>