<!-- Carousel section -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/photos/carouselBackground6.jpg" class="d-block w-100 img-responsive" alt="...">
        <div class="carousel-caption">
          <h3>Share the love of health and food</h3>
          <p>Connect with others to create everlasting memories.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/photos/carouselBackground8.jpg" class="d-block w-100 img-responsive" alt="...">
        <div class="carousel-caption">
          <h3>Achieve your health goals</h3>
          <p>Grow together, as a community.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="photos/carouselBackground5jpg.jpg" class="d-block w-100 img-responsive" alt="...">
        <div class="carousel-caption">
          <h3>We consider ourselves creatures of reason</h3>
          <p>Yet we bake cookies, and cook bacon.</p>
        </div>
      </div>
    </div>
  </div>
<!-- Carousel section -->

 <!-- About -->
 <div class="container pt-4">
 <div class="row">
    <div class="col-lg">
        <h3 class="mb-4">Add a new meal</h3>
        <a href="/meals/new"><img src="https://ehs.stonybrook.edu/commcms/environmental-health-and-safety/programs/_images/Food.jpg" alt="healthy meal" class="img-fluid mb-4 rounded">
        </a>
        <!-- <p>Create a meal to add to your list</p> -->

    </div>
    <div class="col-lg">
        <h3 class="mb-4">Search for a meal!</h3>
        <a href="/meals/search"><img src="/photos\healthy-tuna-pasta-bake-p46-151271-2.jpg">
        </a>
        <!-- <p>Search for a meal that fits your criteria</p> -->
        
    </div>
    <div class="col-lg">
        <h3 class="mb-4">My Collections</h3>
        <a href="/meals/collections"><img src="/photos/collectionPhoto3.jpg" alt="healthy meal" class="img-fluid mb-4 rounded"> </a>
        <p>View your collections</p>
        
    </div>
</div>
<!-- <div class="d-flex justify-content-center">
  <a href="/meals/allMeals"><p>Click to view all meals in database!</p></a>
</div> -->
<div class="container pt-4">
  <div class="row">
     <div class="col-lg">
         <h3 class="mb-4">View all meals in database</h3>
         <a href="/meals/allMeals"><img src="/photos/mealStockImg.jpg" alt="healthy meal" class="img-fluid mb-4 rounded">
         </a>
         <!-- <p>View all meals in the database</p> -->
 
     </div>
     <div class="col-lg">
         <h3 class="mb-4">Create Collections</h3>
         <a href="/meals/searchForWeekOfMeals"><img src="/photos/guyCooking.jpg">
         </a>
         <!-- <p>Create a collection to get your days worth of meals</p> -->
         
     </div>
    <!-- When login is created, when clicking this link populate with all meals saved to that user -->
     <div class="col-lg">
         <h3 class="mb-4">My meals</h3>
         <a href="/meals/myMeals"><img src="/photos/hamburger.jpg" alt="healthy meal" class="img-fluid mb-4 rounded">
         </a>
         <!-- <p>View your created meals</p> -->
         
     </div>
 </div>
   <script>  $('.carousel-item active').carousel({
    interval: 3000
})</script>

    <div id="map"></div>