<!-- Carousel section -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://ehs.stonybrook.edu/commcms/environmental-health-and-safety/programs/_images/Food.jpg" class="d-block w-100 img-responsive" alt="...">
      </div>
      <div class="carousel-item">
        <img src="photos/healthyMeal.jpg" class="d-block w-100 img-responsive" alt="...">
      </div>
      <div class="carousel-item">
        <img src="photos/healthyMeal.jpg" class="d-block w-100 img-responsive" alt="...">
      </div>
    </div>
  </div>
<!-- Carousel section -->

 <!-- About -->
 <div class="container pt-4">
 <div class="row">
    <div class="col-lg">
        <h3 class="mb-4">Add a new meal</h3>
        <a href="/meals/new"><img src="https://ehs.stonybrook.edu/commcms/environmental-health-and-safety/programs/_images/Food.jpg" alt="healthy meal" class="img-fluid mb-4 rounded">
        </a>
        <p>Create a meal to add to your list</p>

    </div>
    <div class="col-lg">
        <h3 class="mb-4">Generate random meal</h3>
        <a href="/meals/search"><img src="/photos\healthy-tuna-pasta-bake-p46-151271-2.jpg">
        </a>
        <p>Want something other than chicken breast and broccoli? Generate a random meal!</p>
        
    </div>
    <div class="col-lg">
        <h3 class="mb-4">My meals</h3>
        <img src="/photos/healthyMealResized2.jpg" alt="healthy meal" class="img-fluid mb-4 rounded">
        <p>View your saved meals</p>
        
    </div>
</div>
<!-- <div class="d-flex justify-content-center">
  <a href="/meals/allMeals"><p>Click to view all meals in database!</p></a>
</div> -->
<div class="container pt-4">
  <div class="row">
     <div class="col-lg">
         <h3 class="mb-4">View all meals in database!</h3>
         <a href="/meals/allMeals"><img src="/photos/mealStockImg.jpg" alt="healthy meal" class="img-fluid mb-4 rounded">
         </a>
         <p>Create a meal to add to your list</p>
 
     </div>
     <div class="col-lg">
         <h3 class="mb-4">Generate week of eating</h3>
         <a href="/meals/allMeals"><img src="/photos/guyCooking.jpg">
         </a>
         <p>Want something other than chicken breast and broccoli? Generate a random meal!</p>
         
     </div>
    <!-- When login is created, when clicking this link populate with all meals saved to that user -->
     <div class="col-lg">
         <h3 class="mb-4">My meals</h3>
         <a href="/meals/myMeals"><img src="/photos/hamburger.jpg" alt="healthy meal" class="img-fluid mb-4 rounded">
         </a>
         <p>View your saved meals</p>
         
     </div>
 </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <div id="map"></div>