<h1>Add a new meal</h1>
<form action="/meals" method='POST' enctype="multipart/form-data">
    <div class="form-row align-items-center">
      <div class="col-7 form-group">
        <label for="exampleFormControlSelect1">Name <span style="color:red">*</span></label>
        <input type="text" name="name" id='name' class="form-control required" placeholder="Name *" required>
      </div>
      <br>
      <div class="col-7">
        <label for="exampleFormControlSelect1">Type:</label>
        <input type="text" name="type" id='type' class="form-control" placeholder="Breakfast, Lunch or Dinner">
      </div>
      <br>
      <div class="col-7">
        <label for="exampleFormControlSelect1">Calories <span style="color:red">*</span></label>
        <input type="text" name="calories" id='calories' class="form-control" placeholder="Ex: 500" required>
      </div>
      <br>
      <div class="col-7">
        <label for="exampleFormControlSelect1">Grams of protein <span style="color:red">*</span></label>
        <input type="text"  name="protein" id='protein' class="form-control" placeholder="Ex: 42" required>
      </div>
      <br>
      <div class="col-7">
        <label for="exampleFormControlSelect1">Ingredients</label>
        <input type="text"  name="ingredients" id='ingredients' class="form-control" placeholder="Ex: Chicken, rice, avocados">
      </div>
      <br>
      <div class="col-7">
        <label for="exampleFormControlSelect1">Optional</label>
        <input type="text"  name="optional" id='optional' class="form-control" placeholder="Ex: Salt, pepper">
      </div>
      <div class="col-7 mt-3">
        <label for="exampleFormControlSelect1">Upload an image of your meal</label>
        <br>
        <input type="file"  name="image" id='image' class="form-control-file" placeholder="Image">
      </div>
      <input type="submit" class="btn btn-outline-primary mt-3 ml-5 mb-3" value='Create new meal'>
    </div>
  </form>