<h1>Add a new collection!</h1>
<form action="/meals/newCollection" method='POST'>
    <div class="form-row align-items-center">
      <div class="col-7 ">
        <input type="text" name="name" id='name' class="form-control" placeholder="Name">
      </div>
      <br>
      <div class="col-7">
        <input type="text" name="breakfast" id='breakfast' class="form-control" placeholder="breakfast">
      </div>
      <br>
      <div class="col-7">
        <input type="text" name="lunch" id='lunch' class="form-control" placeholder="lunch">
      </div>
      <br>
      <div class="col-7">
        <input type="text"  name="dinner" id='dinner' class="form-control" placeholder="dinner">
      </div>
      <br>
      <div class="col-7">
        <input type="text"  name="ingredients" id='ingredients' class="form-control" placeholder="Ingredients">
      </div>
      <br>
      <div class="col-7">
        <input type="text"  name="optional" id='optional' class="form-control" placeholder="Optional">
      </div>
      <input type="submit" class="btn btn-outline-secondary mt-3 ml-5 mb-3" value='Create new collection'>
    </div>
  </form>

    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Breakfast
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% meals.forEach( (meal, index) =>{ %>
        <li><a class="dropdown-item" href="#"><%= meal.name %>, <%= meal.calories  %> calories, <%= meal.protein  %>g of protein  </a></li>
        </ul>
      </div>

      <% }) %> 
    </div>