<h1>Search for a meal</h1>
<form action="/meals/allMeals" method='POST'>
    <div class="form-row">
      <div class="col-7">
        <input type="text" name="name" id='name' class="form-control" placeholder="Name">
      </div>
      <br>
      <div class="col-7">
        <input type="text" name="type" id='type' class="form-control" placeholder="Type: Breakfast, Lunch or Dinner">
      </div>
      <br>
      <div class="col-7">
        <input type="text" name="calories" id='calories' class="form-control" placeholder="Calories">
      </div>
      <br>
      <div class="col-7">
        <input type="text"  name="protein" id='protein' class="form-control" placeholder="Protein">
      </div>
      <br>
      <input type="submit" class="btn btn-outline-primary mt-2 ml-5 mb-3" value='Search for a meal'>
    </div>
  </form>

  <a href="/meals/randomizedMeal" type="button" class="btn btn-outline-secondary mt-3 ml-5">Don't Know what to search for? Click to view a random meal!</a>